body {
    background-color: #EEE;
}
#container {
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: white;
    color: rgb(101, 67, 33);
    text-align: center;
}
#content {
  padding: 10px;
  width: 780px;
}
#footer {
  padding: 10px;
  background-color: #999999;
  color: white; 
}
